<div class="row">
    <div class="col-lg-4">
        <div class="list-group">
            <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style="background-color: #FF9AA2;"></a>
            <a (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style="background-color: #FFB7B2;"></a>
            <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: #FFDAC1;"></a>
            <a (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style="background-color: #FFFFD1;"></a>
            <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: #E2F0CB;"></a>
            <a (click)="aplicarSonido(6)" class="list-group-item list-group-item-action" style="background-color: #B5EAD7"></a>
            <a (click)="aplicarSonido(7)" class="list-group-item list-group-item-action" style="background-color: #C7CEEA;"></a>
        </div>
    </div>
</div>

